/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.toolsbelt{
  margin: 1rem 0;
  width: 100%;
  .toolsbelt__card{
    padding-bottom: 4rem;
    .toolsbelt__card__search{
    }
  }
}
.home-list{
  margin-top: 3rem;
  &.collection {
    li.collection-item{
      display: flex;
      & > *{
        width: 100%;
      }
    }
    .btn{
      margin-bottom: 0.5rem;
    }
  }
}
